.hotel_img{
	width: 250px;
	height: 250px;
	float: left;
}
.hotel1{
	margin: 4% 5% 0% 5%; 
    background-color: lightgrey;
    width: 40%;
    float: left;
    display: flex;
    justify-content: start;
    align-content: center;
    height: 200px;
}
.hotel1:hover{
	background-color: rosybrown;
}
li a{
	color: black;
}
ul{
	padding-top: 7%;
}
#content{
	padding-bottom: 80px;
}
.hotelData{
	color: black;
	position: relative;
	left: 10px;
}
#map_view:focus{
	display: inherit;
}
.nav{
	padding-left: 38%;
}
@media only screen and (max-width: 576px) {
/*.hotel1{
	background-color: lightgrey;
	display: block;
	width: 90%;
}*/
.hotel_img{
	width: 100%;
}

#copyright{
	font-size:12px;
}
#content{
	margin:15% 0%;
}
img{
	width: 100%;
}
.nav{
	padding-left: 22%;
}
}
@media only screen and (min-width: 576px) {
	body{
		width: max-content;
	}
/*.hotel1{
	background-color: lightgrey;
	width: 100%;
}*/

.nav{
	padding-top:10%;
}

}
@media only screen and (min-width: 992px){
	body{
		width: auto;
	}
/*.hotel1{
	background-color: lightgrey;
	width: 40%;
	margin: 2%;
	display: flex;
}*/

.nav{
	padding-top:5%;
}

}
